<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
<div class="top-bar">
    {% if app.user is defined and app.user.brand is defined and app.user.brand is not null %}
        <a href="{{ path('app_home') }}" class="brand-logo">
            <img class="icon" src="{{ vich_uploader_asset(app.user.brand, 'imageFile') }}" alt="{{ app.user.brand.label }}">
        </a>
    {% else %}
        <a href="{{ path('app_home') }}" class="brand-logo">Wired Beauty</a>
    {% endif %}
    {% if app.user %}
        <a href="{{ path('app_logout') }}"><i class="fa fa-sign-out"></i></a>
    {% else %}
        <a href="{{ path('app_login') }}"><i class="fa fa-sign-in"></i></a>
    {% endif %}
</div>

<div class="content">
    <aside>
        <ul>
            <li>
                <a href="{{ path('brand_generate') }}">Test</a>
            </li>
            <li>
                <a href="{{ path('app_report') }}">Reports</a>
            </li>
            {% if is_granted('ROLE_BRAND') and app.user.brand is not null %}
                <li>
                    <a href="{{ path('brand_access', {'id': app.user.brand.id}) }}">My brand</a>
                </li>
            {% endif %}
            {% if is_granted('ROLE_ADMIN') %}
            <li>
                <a href="{{ path('brand_index') }}">Brands</a>
            </li>
            {% endif %}
        </ul>
    </aside>
    <div class="container">
        {% block body %}{% endblock %}
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script>
    {% for type, messages in app.flashes() %}
        {% for message in messages %}
            M.toast({html: '{{ message }}', classes: '{{ type }}'})
        {% endfor %}
    {% endfor %}
</script>
</body>
</html>
