{% extends 'base.html.twig' %}

{% block title %}Brand index{% endblock %}

{% block body %}
    <div class="buttonTitle">
        <h1>Brand index</h1>

        <a class="cta" href="{{ path('brand_new') }}">Create new</a>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Label</th>
                <th>Icon</th>
                <th>Actions</th>
                <th>Access</th>
            </tr>
        </thead>
        <tbody>
        {% if brands %}
            {% for brand in brands %}
                <tr>
                    <td>{{ brand.id }}</td>
                    <td>{{ brand.label }}</td>
                    <td><img width="70px" src="{{ vich_uploader_asset(brand, 'imageFile') }}" alt="logo manquant"></td>
                    <td>
                        <a class="cta" href="{{ path('brand_show', {'id': brand.id}) }}">Show</a>
                        <a class="cta" href="{{ path('brand_edit', {'id': brand.id}) }}">Edit</a>
                    </td>
                    <td>
                        <a class="cta" href="{{ path('brand_access', {'id': brand.id}) }}">Manage</a>
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endif %}
        </tbody>
    </table>
{% endblock %}
