{% extends 'base.html.twig' %}

{% block title %}Hello ReportController!{% endblock %}

{% block body %}
<div class="buttonTitle">
    <h1>Reports</h1>

    <a class="cta" href="{{ path('brand_generate') }}">Create new test</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Label</th>
            <th>Icon</th>
            <th>actions</th>
        </tr>
    </thead>
    <tbody>
    {% if brands %}
        {% for brand in brands %}
            <tr>
                <td>{{ brand.id }}</td>
                <td>{{ brand.label }}</td>
                <td><img height="20px" src="{{ vich_uploader_asset(brand, 'imageFile') }}"></td>
                <td>
                    <a class="cta" href="{{ path('report_brand', {'id': brand.id}) }}">Show</a>
                </td>
            </tr>
            <tr class="emptyRow"></tr>
        {% endfor %}
    {% else %}
        <tr>
            <td colspan="4">no records found</td>
        </tr>
    {% endif %}
    </tbody>
</table>
{% endblock %}
